<select>
  <option value="Gryffindor">Gryffindor</option>
  <option value="Ravenclaw">Ravenclaw</option>
  <option value="Hufflepuff">Hufflepuff</option>
  <option value="Slytherin">Slytherin</option>
</select>